{% extends 'base.html' %}

{% block head %}
<title>Home Page</title>
{% endblock %}

{% block body %}
<h1>Project 454</h1>

<main role="main">
<div class="jumbotron">
  <div class="col-sm-8 mx-auto">
    <h2>Home Page</h2>
    <p>This is our group project for CPSC-454</p>
    <p>The purpose of this program is to implement an app where users can create an
  account and upload their files to a cloud storage S3. In order to manage
  user accounts we will have a MySQL database that will act as an identity provider
  when new users make an account. The user's information and password (encrypted)
  of a newly created account will be stored in MySQL RDS. The program shall be able
  to authenticate user's credentials before using the services — uploading files
  and viewing all the uploaded files.</p>
    <a class="btn btn-primary" href="/login" role="button">Sign In &raquo;</a>
    <a class="btn btn-primary" href="/register" role="button">Register &raquo;</a>
  </div>
</div>
</main>

{% endblock %}
